%div.container
	%h1 New Product
	= form_for @product, :html => {:class => 'form-horizontal' }, multipart: true do |f|
		- if @product.errors.any?
			%div.bg-background
				= pluralize(@product.errors.count, 'error')
		%div.form-group
			= f.label :name, class: 'col-sm-2 control-label'
			.col-sm-4
				= f.text_field :name, class: 'form-control'
				%h6.alert-danger.error= inline_error(@product, :name)
		%div.form-group
			= f.label :description, class: 'col-sm-2 control-label'
			.col-sm-4
				= f.text_area :description, class: 'form-control'
				%h6.alert-danger.error=  inline_error(@product, :description)
		%div.form-group
			= f.label :price, class: 'col-sm-2 control-label'
			.col-sm-4
				= f.text_field :price, class: 'form-control'
				%h6.alert-danger.error=  inline_error(@product, :price)
		%div.form-group
			= f.label :file, class: 'col-sm-2 control-label'
			.col-sm-4
				= f.file_field :file
				%h6.alert-danger.error=  inline_error(@product, :file)
		%div.form-group
			.col-sm-offset-2.col-sm-10
				= f.submit "Create Product", class: "btn btn-default"
	= link_to 'back', products_path, :class => 'btn btn-primary'